body {
  background-color: #483248;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  background-color: transparent;
  border-radius: 0;
  border-bottom: 5px solid #16A085;
  color: white;
  padding: 2rem;
  text-align: center;
}

.time-block {
  text-align: center;
}

.past {
  background-color: #E6E6FA!important;
  color: #301934;
}

.present {
  background-color: #AA336A;
  color: white;
}

.future {
  background-color: #16A085;
  color: #301934;
}

/* the todo input block */
input {
  background: transparent;
  border: none;
  border-left: 1px solid black;
  color: #301934;
  font-family: 'Indie Flower', sans-serif;
  padding: 10px;
  resize: none;
}

/* save and save all buttons */
.saveBtn, #saveAll {
  border: none;
  background-color: #AA98A9;
  color: white;
}

.saveBtn:hover, #saveAll:hover{
  background-color: #5D3FD3;
  color: #FFC300;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

/* delete button */
.delBtn:hover 
{
  background-color:#FFC300;
  color: #AA336A;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}