body {
  background-color: #483248;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  background-color: transparent;
  border-radius: 0;
  border-bottom: 5px solid #16A085;
  color: white;
  padding: 2rem;
  text-align: center;
}

.time-block {
  text-align: center;
 
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #E6E6FA!important;
  /* #d3d3d3; */
  color: #301934;
}

.present {
  background-color: #AA336A;
  color: white;
}

.future {
  background-color: #16A085;
  color: #301934;
}

input {
  background: transparent;
  border: none;
  border-left: 1px solid black;
  color: #301934;
  font-family: 'Indie Flower', sans-serif;
  padding: 10px;
  resize: none;
}


.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #AA98A9;
  color: white;
}

.saveBtn:hover{
  background-color: #5D3FD3;
  color: #FFC300;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.delBtn:hover 
{
  background-color:#FFC300;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}